.banner{
    display: grid;
    gap: 1rem;
}

.banner img:nth-child(1){
    grid-column: 1/3;
}
.banner img:nth-child(4){
    grid-column: 2/3;
    grid-row: 2/4;
}

.eventos__item{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto repeat(2, 1fr) auto;
    grid-template-areas: 
    "imagem imagem"
    "nome nome"
    "data data"
    "local botao";
}
.eventos__item img{
    grid-area: imagem;
}
.eventos__item h3{
    grid-area: nome;
    align-self: center;
}
.eventos__item h4{
    grid-area: data;
}
.eventos__item h5{
    grid-area: local;
    align-self: flex-end;
}
.eventos__item button{
    grid-area: botao;
}

.agenda__item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "imagem imagem"
    "mes  nome"
    "dia  nome"
    "hora  botao";
}
.agenda__item img{
    grid-area: imagem;
}
.agenda__item h3{
    grid-area: mes;
}
.agenda__item h5{
    grid-area: hora;
    align-self: flex-end;
}
.agenda__item h6{
    grid-area: nome;
}
.agenda__item button{
    grid-area: botao;
}






@media screen and (min-width: 720px){
    .banner{
    grid-template-columns: calc(50% - 0.75rem) auto auto;
    gap: 1.5rem;
    }
    .banner img:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .banner img:nth-child(4){
        grid-column: 3/4;
        grid-row: 1/3;
    }
}

